* {
  box-sizing: border-box;
}
:root {
  --delay-bump: 0.2;
  --stagger: 0.15;
  --transition: 2.5;
  --size: 6vmin;
  --coefficient: 8;
  --border: 0.5vmin;
  --width: calc(var(--coefficient) * var(--size));
  --lower-bound: 0;
  --upper-bound: 200;
  --margin: 1rem;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #091116;
}
body > .row + .row {
  margin-top: var(--margin);
}
.row {
  display: flex;
  width: var(--width);
  position: relative;
  height: var(--size);
}
.circle {
  --color: hsl(calc((var(--lower-bound, 0) + ((var(--upper-bound, 200) - var(--lower-bound, 0)) / var(--count, 0)) * (var(--count) - var(--index, 0)))), 75%, 45%);
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  opacity: 0.7;
  filter: brightness(1.3) drop-shadow(0 0 1vmin var(--color));
  border: var(--border) solid var(--color);
  position: absolute;
  -webkit-animation: traverse calc(var(--transition) * 1s) calc(((var(--delay) * var(--delay-bump)) + (var(--index, 0) * var(--stagger))) * -1s) infinite alternate ease-in-out;
          animation: traverse calc(var(--transition) * 1s) calc(((var(--delay) * var(--delay-bump)) + (var(--index, 0) * var(--stagger))) * -1s) infinite alternate ease-in-out;
}
@-webkit-keyframes traverse {
  to {
    transform: translate(calc((var(--coefficient) - 1) * 100%), 0);
  }
}
@keyframes traverse {
  to {
    transform: translate(calc((var(--coefficient) - 1) * 100%), 0);
  }
}